
.split-view {
    height: calc(100% - 50px);
    overflow: hidden;
    
    & > * {
        display: inline-block;
        outline: 1px solid #ddd;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
        width: 50%;
    }
}

.toolbar {
    align-items: center;
    display: flex;
    height: 50px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    
    & .spacer {
        height: 30px;
        border-right: 2px solid #eee;
        margin: 0 5px;
    }
}

.editor {
    padding: 10px;
}

.DraftEditor-root {
    font-family: monospace;
    font-size: 14px;
    height: 100%;
}

.present {
    background: white;
    
    & .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        outline: 1px solid #ddd;
        overflow: hidden;
        padding: 5%;
        height: 33vw;
        width: 100%;
    }
    
    & .notes {
        display: none;
        text-align: left;
        width: 100%;
    }
}

@media all and (display-mode: fullscreen) {
    .present {
        overflow-y: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        
        & .slide {
            outline: none;
            display: none;
            height: 100%;
            position: absolute;
            
            &.active {
                display: flex;
            }
        }
    }
    
    .toolbar { 
        display: none;
    }
    .editor {
        display: none;
    }
}

.button {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
    min-width: 30px;
    padding: 5px;
    text-align: center;
}

.md pre:hover .code-button {
    opacity: 0.7;
}

.md .code-button {
    float: right;
    font-size: 0.7em;
    opacity: 0;
    padding: 2px 5px;
    margin-top: calc(-1em - 10px);
    
    &:hover {
        opacity: 1;
    }
}

.files-modal {
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    
    & .inner {
        background: #fff;
        border: 1px solid #aaa;
        box-shadow: 2px 2px rgba(0,0,0,0.75);
        margin: 200px auto 0;
        padding: 20px;
        height: 400px;
        width: 500px;
    }
    
    & .header {
        margin-bottom: 20px;
    }
    
    & input {
        background: #eee;
        border: none;
        padding: 5px;
        margin: 20px 0;
        width: 100%;
    }
}

.scrolling {
    overflow-x: hidden;
    overflow-y: scroll;
}

.sticky {
    display: flex !important;
    flex-direction: column;
}
.sticky > .stick {
    margin-top: auto;
}

.flex-nav {
    align-items: center;
    display: flex;
}
.flex-nav .pull,
.flex-nav .spacer {
    margin-left: auto !important;
}
.flex-nav .push {
    margin-right: auto !important;
}
