@media screen {
.dark {
    color: #fff;
    background: #232323;
    
    & .md {
        color: #ddd;
        
        & code, & pre, & blockquote {
            background-color: #353535;
        }
        
        & blockquote {
            border-color: #666;
        }
    }
    
    & .button {
        background: #444;
        border-color: #777;
        color: #eee;
    }
    
    & .toolbar {
        border-color: #444;
        
        & .toolbar-line {
            border-color: #444;
        }
    }

    & .present, & .editor {
        background-color: inherit;
        outline-color: #444;
    }
    
    & .present .slide {
        outline-color: #444;
    }
    
    & .modal {
        & .inner {
            background: #444;
            border: 1px solid #666;
        }
        
        & input {
            background: #555;
            color: #eee;
            font-size: inherit;
        }
        
        & .file-select:hover {
            background: #555;
        }
    }
    
    & .scrolling {
        scrollbar-color: #555 #333;
    }
}
}