
@import "reset.css";
@import "draft-js";
@import "highlight.js/styles/railscasts.css";
@import "./base.css";
@import "./modest.css";
@import "./dark.css";
@import "./print.css";

html, body, #root, #app {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.3;
}

*, *::before, *::after {
    box-sizing: inherit;
}

