
@page {
    size: portrait;
    margin: 2cm;
}

@media print {
    .present {
        border: none;
        counter-reset: page;
        min-height: 100%;
        min-width: 100%;
        padding: 0 2.5%;
        
        & .slide {
            counter-increment: page;
            height: 40vh;
            margin: 2.5% 0;
            
            &::after {
                background: #fff;
                border-radius: 50%;
                content: counter(page);
                padding: .5em;
                position: absolute;
                margin: .5em;
                bottom: 0;
                right: 0;
                z-index: 1000;
            }
            
            & .md {
                font-size: 8pt !important;
                
                & pre {
                    outline: 1px solid #888;
                }
                
                & pre, & pre code {
                    color: #000;
                    background: #fff;
                }
            }
        }
        
        & .notes {
            break-after: always;
            display: block;
            margin-top: 5%;
        }
    }
    
    .toolbar { 
        display: none;
    }
    .editor {
        display: none;
    }
    .files-modal {
        display: none;
    }
    
    #root, #app, .split-view, .present {
        display: block !important;
        height: unset;
        overflow: visible;
    }
}