
@page {
    size: portrait;
    margin: 2cm;
}

@media print {
    .present {
        min-height: 100%;
        min-width: 100%;
        padding: 0 2.5%;
        
        & .slide {
            margin: 2.5% 0;
            height: 40vh;
            
            & .md {
                font-size: 8pt !important;
                
                & pre {
                    outline: 1px solid #888;
                }
                
                & pre, & pre code {
                    color: #000;
                    background: #fff;
                }
            }
        }
        
        & .notes {
            break-after: always;
            display: block;
            margin-top: 5%;
        }
    }
    
    .toolbar { 
        display: none;
    }
    .editor {
        display: none;
    }
    
    #root, #app, .split-view, .present {
        display: block !important;
        height: unset;
        overflow: visible;
    }
}